[submodule ".registry"]
	path = .registry
	url = https://github.com/coolbutuseless/universe
	branch = HEAD
[submodule "emphatic"]
	path = emphatic
	url = https://github.com/coolbutuseless/emphatic
	branch = main
